
  <p-table #dt sortField="id" class="  flex flex-wrap align-items-center justify-content-center card-container" [paginator]="true" [rows]="10" [value]="requests">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Id documento legal</th>
            <th>Estado</th>
            <th>Encargado</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.idLegalInstrument}}</td>
            <td>{{request.status}}</td>
            <td >{{request.nameEmployee}}</td>
            <td><p-button [routerLink]="['/legalInstruments/viewChecker',request.id ]" icon="pi pi-plus" iconPos="left"  class="p-button-link p-button-sm"></p-button></td>
        </tr>
    </ng-template>
</p-table>
