<div class="grid">

  <div class="col">
    <app-info-legal-instrument [legalInstrument]="legalInstrument" [answer]="answer"></app-info-legal-instrument>
  </div>
  <div class="col">
    <app-write-response
    [legalInstrument]="legalInstrument"
    [idLegalInstrument]="legalInstrument.id"
    [responseApi]="resposeApi"
    (onNewAnswer)="addNewAnswer($event)"
    (onNewCompanyRequest)="addNewCompanyRequest($event)"
    (onNewBasicsOfBusinessLaw)="addNewBasicsOfBusinessLaw($event)"
    (onNewContemptIncident)="addNewContemptIncident($event)"
    (onNewFailed)="addNewFailed($event)"
    ></app-write-response>
    <div class="my-3">
      <p-button label="Enviar a verificacion"class="p-button-success"  (click)="addRequestCheck()  " *ngIf = "legalInstrument.stateLegalInstrument.name !== 'Radicado'"></p-button>
    </div>

    <app-make-request
    [legalInstrument]="legalInstrument"
    [idLegalInstrument]="legalInstrument.id"
    (onNewRequest)="addNewRequest($event)"
    *ngIf = "legalInstrument.stateLegalInstrument.name !== 'Radicado'"
    ></app-make-request>

    <div *ngIf = "legalInstrument.stateLegalInstrument.name === 'Radicado'">
      <label class="mr-3"  >Fallo</label>
      <textarea
        pInputTextarea
        [autoResize]="true"
        [style]="{'width':'92%'}"
        name="failed"
        [(ngModel)]="failed"
        class="mt-3"
        ></textarea>
      <p-button label="Guardar"class="p-button-success"  (click)="addNewFailed(failed)  " *ngIf = "legalInstrument.stateLegalInstrument.name !== 'Radicado'"></p-button>
  <p-button label="Archivar"class="p-button-success bg-green-700" (click)="forArchive()" class="m-1" ></p-button>
  <p-button label="Para cumplimiento"class="p-button-success bg-green-700"(click)="forCompliance()" class="m-1"></p-button>
  <p-button label="Impugnación"class="p-button-success bg-green-700" (click)="forChallenge()" class="m-1" ></p-button>
    </div>


    <app-view-request
    [requestAll]="requestAll"
    ></app-view-request>
  </div>

</div>


