<app-info-general></app-info-general>
<form
  class="grid m-4 "
  (ngSubmit)="onSumit()"
  [formGroup]="registerForm">
    <div class="col_6 mt-7"
    [style]="{'width':'50%'}">
        <div>
            <div class="mb-3 ">
                <label class="mr-7"  >Tipo de documento</label>
                <p-dropdown
                [options]="types"
                optionLabel="name"
                optionValue="id_Type"
                placeholder="Selecciona el tipo de instrumento legal"
                formControlName="idTypeInstrument"
                [style]="{'width':'65%'}"
                class ="mr-3"
                ></p-dropdown>
                <p-message
                severity="error"
                text="El campo es requerido"
                *ngIf="campIsValid('idTypeInstrument')"
                ></p-message>
            </div>


            <div class="mb-3">
            <label class="mr-3"   >Nombre de microempresa</label>
                <p-dropdown
                  [options]="microenterprises"
                  optionLabel="name"
                  optionValue="id_Microenterprise"
                  placeholder="Selecciona nombre de tu microempresa"
                  formControlName="idMicroenterprise"
                  [style]="{'width':'65%'}"
                  ></p-dropdown>
                  <p-message
                  severity="error"
                  text="El campo es requerido"
                  *ngIf="campIsValid('idMicroenterprise')"
                  ></p-message>
            </div>
        </div>

        <div class="mt-3">
            <div class=" mb-3 flex flex-column ">
                <label class="mt-3">
                  Detalle de hechos
                </label>
                <textarea
                  pInputTextarea
                  [autoResize]="true"
                  [style]="{'width':'92%'}"
                  formControlName="detail"
                  class="mt-3"
                  ></textarea>
                <p-message
                  severity="error"
                  text="El campo es requerido"
                  *ngIf="campIsValid('detail')"
                  ></p-message>
            </div>
            <div>
                <label for="">Derechos presuntamente vulnerados</label>
                <textarea
                  pInputTextarea
                  [autoResize]="true"
                  [style]="{'width':'92%'}"
                  required formControlName="rights"
                  class="mt-3"
                  ></textarea>
                <p-message
                  severity="error"
                  text="El campo es requerido"
                  *ngIf=" campIsValid('rights')"
                  ></p-message>
            </div>
            <div>
                <label for="">Peticiones del accionante</label>
                <textarea
                  pInputTextarea
                  [autoResize]="true"
                  [style]="{'width':'92%'}"
                  formControlName="plaintiffsRequest"
                  class="mt-3"
                  ></textarea>
                <p-message
                  severity="error"
                  text="El campo es requerido"
                  *ngIf="campIsValid('plaintiffsRequest')"></p-message>
            </div>
        </div>
    </div>

    <div class="col_6 mt-7" [style]="{'width':'50%'}">
        <div>
            <label for="">Fundamentos de derecho del ministerio</label>
            <textarea
              pInputTextarea
              [autoResize]="true"
              [style]="{'width':'92%'}"
              formControlName="fundamentalsMinistryLaw"
              class="mt-3"
              ></textarea>
            <p-message
              severity="error"
              text="El campo es requerido"
              *ngIf="campIsValid('fundamentalsMinistryLaw') "></p-message>
        </div>
         <div>
            <label for="">Peticiones del ministerio</label>
            <textarea
            pInputTextarea
            [autoResize]="true"
            [style]="{'width':'92%'}"
            formControlName="ministryRequest"
            class="mt-3"
            ></textarea>
            <p-message
              severity="error"
              text="El campo es requerido"
              *ngIf="campIsValid('ministryRequest')"></p-message>
         </div>
        <div>
            <label for="">Notificaciones</label>
            <textarea
              pInputTextarea
              [autoResize]="true"
              [style]="{'width':'92%'}"
              formControlName="notifications"
              class="mt-3"
              ></textarea>
            <p-message
              severity="error"
              text="El campo es requerido"
              *ngIf="campIsValid('notifications') "></p-message>
        </div>
        <div [style]="{'width':'92%'}" class="mt-3 flex p-2">
          <p-checkbox
          formControlName="anexos"
          type="checkbox"
          [binary]="true"
          class="mr-3"
          ></p-checkbox>
          <label class="mr-3">Anexos</label>
           <small>
            Si el documento legal posee anexos puede
            enviar un fichero comprimido a legalaki@gmail.com
            con el numero de radicado obtenido.Por favor
            especifiquelo en el detalle de los echos</small>

        </div>
        <small >
          Su tiene un archivo csv con los datos de la tutela, debe contener los siguientes campos:
           detail,rights,plaintiffsRequest,fundamentalsMinistryLaw,ministryRequest,notifications,anexos,
           idTypeInstrument,idMicroenterprise </small>
        <div class="mt-8 " >
          <p-button label="Guardar"class="p-button-success bg-green-700" type="submit" ></p-button>
        </div>


        <div>
          <p-message
          severity="success"
          text="{{response.message}}"
          *ngIf="response.code.toString() === '201', else error"
         ></p-message>
         <ng-template #error>
            <p-message
            severity="error"
            text="{{response.message}}"
            *ngIf="response.code.toString() !== '200' && response.code.toString() !== ''"
          ></p-message>
         </ng-template>
        </div>

    </div>
</form>

